#main-header {
  text-align: center;
  font-size: 45px;
  padding: 15px;
}

.form-control {
  margin: 20px;
}

.article {
  border: 1px solid;
  padding: 5px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

/* flash */
.messages {
  text-align: center;
  padding: 10px;  
}

.flash-notice {
    background-color: green;
}

.flash-alert {
    background-color: red;
}

